/* File to define all variables */

/* Import Rubik font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Colors */
$primary: #0A4FD8;

$color-black: #000C26;

$light-grey: #D3D9E5;
$midnight-grey: #000C26;

/* Font */
$font-family-default: 'Rubik', sans-serif;
$font-size-default: 14px;
$font-weight-default: 400;
$line-height-default: 18px;
